{% extends "base/layout.html" %}

{% block title %}
        User Activate Done
{% endblock %}

{% block mainContent %}

    <div class="container border" >
    
        <div class="col-lg-12 col-sm-12" style="">
              <span class="text-success" style="font-size: 20pt;">
                {% if message %}
                    {{message}}
                {% endif %}
              </span>
              <br>
              <span><a href="{% url 'user:login' %}">Click Here</a> to login</span>
        </div>
        
      </div>
    



{% endblock %}



