{% extends "base/layout.html" %}

{% load static %}

{% block title %}
    POINT :: Reset Password
{% endblock %}


{% block extra_styles %}
  <style>
    .error{
        color: red;
    }
    label.error{
      font-size: 10pt;
    }

    #div_captcha img{
      max-width: 170px;
      max-height: 50px;
    }

    #div_captcha input{
      max-width: 170px;
      max-height: 40px;
    }
  </style> 
{% endblock extra_styles %}


{% block mainContent %}

  <div class="container col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <div class="card shadow mb-5 bg-white rounded" >
        <div class="card-header fw-bold bg-info p-3" style="background: linear-gradient(to right, #43489c, #a09727); color: white;">
          <div class="d-flex " style="height:50px;overflow: hidden;"> 
            <img src="/static/images/logo_icon.png"alt="" style="margin-top:-20px">
             <div class="mt-3" style="margin-left:-32px">
               Reset Password
             </div>          
          </div>
        </div>
        <div class="card-body .text-info">
          <!-- <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

          <form id="resetPassword" method="post" action="" class="col-12" >
            {% csrf_token %}
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <label for="id_otp" class="col-form-label">Enter OTP</label>
                <input type="text" name="otp" id="otp" placeholder="Enter OTP Received on your Email" autocomplete="off" autofocus maxlength="6" minlength="6" class="form-control" required="required">
              </div>
              <div id="divGetOtp" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <input type="button" class="btn btn-info form-control col-4" style="margin-top: 35px;" id="emailOtp" disabled  value="Resend OTP">
              </div>
            </div>
            <div class="row">
              <span id="otpMessage" class="text-primary form-control" style="border:none !important"></span>
            </div>
            
            <div class="row">
              <div class=" col-md-6 col-sm-12 .mb-3">
                <label for="id_password" class="col-form-label">Password:</label>
                <input type="password" class="form-control" id="id_password" name="password" autocomplete="off" minlength="8" maxlength="12" required="" placeholder="Password">
              </div>

              <div class=" col-md-6 col-sm-12 mb-3">
                <label for="id_confirm" class="col-form-label">Confirm Password:</label>
                <input type="password" class="form-control" id="id_confirm" name="confirm" autocomplete="off" minlength="8" maxlength="12" placeholder="Confirm password">
              </div>
            </div>
            
            <div id="div_captcha" class="row mb-3">
              {{ form.captcha }}

              <div class="col-2 col-md-2 col-sm-2 col-xs-2 m-1">
                <div class="btn btn-secondary btn-sm fw-bold text-light" id="refreshcaptcha">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
                    <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z"/>
                    <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z"/>
                  </svg>
                </div>
              </div>
            </div>

            <!-- <div class="row mb-3">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 m-1">                  
                  <div class="d-flex justify-content-center align-items-center border border-primary" style="min-width: 100px;">
                    <label class="form-label" for="CaptchaImg">Captcha</label>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 m-1">
                  <input type="text" class="form-control" id="cpatchInput">
                </div>
                <div class="col-2 col-md-2 col-sm-2 col-xs-2 m-1">
                  <div class="btn btn-secondary btn-sm fw-bold text-light" id="refreshcaptcha">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
                      <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z"/>
                      <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z"/>
                    </svg>
                  </div>
                </div>
              </div>
      
            </div> -->
            
            <div class="d-flex gap-2 .d-md-block">
              
                <input type="submit" value="Next" class="btn btn-sm btn-primary col-2" />
                <input type="reset" value="Reset" class="btn btn-sm btn-secondary col-2" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
    
            <div class="row">
              <div class=" col-12 mt-3">
    
                {% if form.errors %}
                  {% for field in form %}
                    {% for error in field.errors %}
                    <span class="error">{{ error|escape }}<br></span>
                    {% endfor %}
                  {% endfor %}
                  
                {% endif %}
              </div>
            </div>
            <div class="row">
              {% if messages %}
              <ul style="list-style: none;">
                {% for message in messages %}
                <li><span class="error">{{ message }}</span></li>
                {% endfor %}
              </ul>
              {% endif %}
    
            </div>
    
            <div class="row">
              <div class=" col-12">
                  Already registered? <a href="{% url 'user:login' %}">Click here</a> to Login.
              </div>
            </div>
    
          </form>

        </div>
      </div>
  </div>

{% endblock %}




{% block extra_js %}

  <script src="{% static 'jquery-validation/jquery.validate.min.js' %}"></script>
  <script src="{% static 'jquery-validation/additional-methods.js' %}"></script>
  <script>
      $(document).ready(function(){
        
        form = $("form#resetPassword");

        $('#refreshcaptcha').click(function () {
          refresh_captcha();
          $('#id_captcha_1').val('');
          $('#id_captcha_1').focus();
          console.log(form.find('#id_otp').val());
      });
      
      

      form.validate({
        rules: {
          otp: {
            required: true,
            number: true
          },
          password : {
            required : true,  
            password : true,
            minlength : 8,
            maxlength : 15,
          },
          confirm : {  
              // pass : true,
              // minlength : 8,
              // maxlength : 15,
              equalTo : "#id_password"
          },
          captcha_1 :{
            required : true,
          },
          
            
        },
        messages : {
          otp : {
              required : "OTP required",
              number : "Enter valid OTP"
          },
          password : {
            required : "Password required",
            minlength : "Password must be minimum 8 characters long",
            maxlength : "Password must not contain more than 15 characters",
            // pass : "Password Should be minimum 8 characters long ( Contain atleast one Uppercase, one lowercase, one Number/Special Character.)",  
          },
          confirm : {
            // minlength : "Password must be minimum 8 characters long",
            // maxlength : "Password must not contain more than 15 characters",
            // pass : "Password Should be minimum 8 characters long ( Contain atleast one Uppercase, one lowercase, one Number/Special Character.)", 
            equalTo : "Must be same as password"
          },
          captcha_1 :{
            required : "Captcha Code Required",
          },  
        },
        
        submitHandler : function(form) {
          // console.log(form.find('#id_otp').val());
          /*
          $.ajax({
            url: '',
            method: 'POST',
            data: formData,
            dataType: 'json',
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
              console.log(data)
            }
          });
          */
          form.submit();
          
        }
      });

      $("input:reset").on('click', function(){
        // alert("fasd");
        $(document).find('label.error, span.error').remove();
        refresh_captcha();
        $('#id_otp').focus();
      });


      $("form#resetPassword").submit(function(){
        $('input#submit').attr("value", "Processing...");
      });
      

      $("#id_otp").on("click", function(){
        $(this).removeClass("is-invalid");
      });


      var maxCount = 3

      $(document).ready(function(){
  
        $("div.alert").fadeTo(5000, 500).fadeOut(500, function() {
          $("div.alert").fadeOut(500);
        });
          


        //var validator = $("form#verifyEmail").validate();

        resendOtpTime(window.maxCount);






        $("input#emailOtp").click(function(){
          $('#divGetOtp input').attr("value", "Resending...");
          $('div span#otpMessage').html('');
          
          $.ajax({
            url: '../resend-email-otp/',
            method: 'POST',
            data: '',
            dataType: 'json',
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function(data){
              $(document).find('input#otp').val('');
            },
            success: function (data) {
              console.log(data)
              $('#divGetOtp input').attr("value", "Resend OTP");
              $('div span#otpMessage').html(data['message']);
              resendOtpTime(window.maxCount);
            }

          });
             
        });
          
      });

      function resendOtpTime(maxCount){
        $("input#emailOtp").fadeOut();

        window.maxCount = window.maxCount-1;
        //console.log("Max Count : "+window.maxCount);

        if(window.maxCount < 0){
          return false;
        }

        var timeleft = 30;

        $("#divGetOtp input").after("<span style='display: block; font-weight: bold; font-size: 11pt; margin-top: 35px' class='text text-danger'></span>");

        $(this).attr("disabled", "disabled");

        var timer = setInterval(function(){
          if(timeleft <= 0){
            clearInterval(timer);
            $("#divGetOtp span").remove();
            $("input#emailOtp").removeAttr("disabled");
            $("input#emailOtp").fadeIn();
          }

          
          var remain = timeleft
          //console.log(remain);
          $("#divGetOtp span").html("Resend OTP button will be available after "+remain+" sec");
          
          timeleft -= 1;
        }, 1000);
      }






    });


    function refresh_captcha(){
      $.getJSON("/captcha/refresh/", function (result) {
        $('.captcha').attr('src', result['image_url']);
        $('#id_captcha_0').val(result['key']);
      });
    }
  </script>

{% endblock extra_js %}






{% comment %}
  
<!-- 
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %} -->
{% endcomment %}